############################
# macOS
############################
.DS_Store
.AppleDouble
.LSOverride

############################
# Node / JS
############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun.lockb

############################
# Metro / React Native
############################
.metro-health-check*
*.jsbundle
*.map
.expo/
.expo-shared/

############################
# Android
############################
android/.gradle/
android/build/
android/app/build/
android/app/release/
android/app/.cxx/
android/.idea/
android/.kotlin/
android/*.iml
android/local.properties
android/.cxx/
android/captures/
*.apk
*.aab
*.hprof
*.keystore
!android/app/debug.keystore

############################
# iOS
############################
ios/Pods/
ios/build/
ios/DerivedData/
ios/*.xcworkspace
ios/*.xcuserstate
ios/**/*.xcuserdatad
ios/**/*.xccheckout
ios/.xcode.env.local

############################
# Xcode junk
############################
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

############################
# Fastlane
############################
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

############################
# Coverage / Tests
############################
coverage/
.nyc_output/

############################
# Env files
############################
.env
.env.*
!.env.example

############################
# Yarn (Berry)
############################
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

############################
# Misc
############################
.idea/
.vscode/
.tmp/
temp/
